
.rowWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
    border-bottom: 1px solid #AFAFAF;
    width: -webkit-fill-available;

    p{
        font-size: 18px;
    }
}

.rowLabel {
    font-family: 'HalvarRegularMittelschrift';
}

.rowValue{
    font-family: 'HalvarBoldMittelschrift';
    text-align: right;
}
