.Wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.Label{
    font-family: 'HalvarRegularMittelschrift';
    font-size: 18px;
    line-height: 110%;
}
.Value{
    font-family: 'HalvarBold';
    font-size: 25px;
    line-height: 110%;
}

