

.longArrow{
    font-family: 'HalvarRegularMittelschrift';
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    // margin-top: 100px;
    margin-bottom: 30px;
}

.longArrowImg{
    margin-right: 10px;
}
