
.desc{
    font-family: 'HalvarRegularMittelschrift';
    font-size: 35px;
}

.img{
    width: 46px;
    height: 46px;
}

.logoDescWrapper{
    display: flex;
    align-items: center;
    gap: 3px;
}