

.text{
    font-family: 'HalvarRegularMittelschrift';
    font-size: 18px;
    line-height: 120%;
}

.textBold{
    font-family: 'HalvarBoldMittelschrift';
    font-size: 20px;
    line-height: 120%;
}