

.text{
    font-family: 'HalvarLightMittelschrift';
    font-size: 21px;
    line-height: 120%;
}

.textBold{
    font-family: 'HalvarBoldMittelschrift';
    font-size: 20px;
    line-height: 120%;
}