.Wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Bullet{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #AD442A;
}

.Text{
    font-family: 'HalvarLightMittelschrift';
    font-size: 21px;
    line-height: 120%;
}